@model OrderVM

<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Concert Details</span>
                                </h4>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                                    {
                                        <input asp-for="@Model.OrderHeader.Name" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.OrderHeader.Name" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.Name" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Surname</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                                    {
                                        <input asp-for="@Model.OrderHeader.Surname" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.OrderHeader.Surname" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.Surname" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Phone number</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                                    {
                                        <input asp-for="@Model.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.OrderHeader.PhoneNumber" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Street address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                                    {
                                        <input asp-for="@Model.OrderHeader.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.OrderHeader.StreetAddress" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.StreetAddress" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                                    {
                                        <input asp-for="@Model.OrderHeader.City" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.OrderHeader.City" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.State" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Country</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Country" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Postal code</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                                    {
                                        <input asp-for="@Model.OrderHeader.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.OrderHeader.PostalCode" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.PostalCode" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Concert Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.ConcertDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">Confirmation Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.ConfirmationDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                            {
                                <div class="row my-2">
                                    <div class="col-3">Session ID</div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.SessionId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PaymentIntentId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }
                            @if (Model.OrderHeader.SessionId == null)
                            {
                                <div class="row my-2">
                                    <div class="col-3">Payment due date</div>
                                    <div class="col-9">
                                        <input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row my-2">
                                    <div class="col-3">Payment date</div>
                                    <div class="col-9">
                                        <input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="row my-2">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                            {
                                <button type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control my-1">Update Order Details</button>
                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Concert Summary</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>
                            <ul class="list-group mb-3">
                                @foreach (var orderDetailSong in Model.OrderDetailSongs.OrderBy(u => u.Order))
                                {
                                    string concept = orderDetailSong.Order + ". " + orderDetailSong.Song.Artist +
                                    " - " + orderDetailSong.Song.Title;
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary">@concept</h6>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @{
                                    int songCount = Model.OrderDetailSongs.Count();
                                }
                                @foreach (var orderDetailService in Model.OrderDetailServices)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary">@orderDetailService.Service.Name</h6>
                                                <small class="text-muted">Fixed price: @orderDetailService.Service.PriceFixed.ToString("c")</small><br />
                                                <small class="text-muted">Variable price: @orderDetailService.Service.PricePerSong.ToString("c") x @songCount songs</small><br />
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((songCount * orderDetailService.Service.PricePerSong + orderDetailService.Service.PriceFixed).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (Model.OrderHeader.PaymentStatus == SD.PAYMENT_STATUS_DELAYED_PAYMENT &&
                            Model.OrderHeader.OrderStatus == SD.STATUS_SHIPPED)
                            {
                                <button type="submit" class="btn btn-success form-control my-1">Pay Now</button>
                            }
                            @if (User.IsInRole(SD.ROLE_ADMIN) || User.IsInRole(SD.ROLE_EMPLOYEE))
                            {
                                if (Model.OrderHeader.OrderStatus == SD.STATUS_APPROVED)
                                {
                                    <button type="submit" class="btn btn-primary form-control my-1">Start Processing</button>
                                }
                                if (Model.OrderHeader.OrderStatus == SD.STATUS_IN_PROCESS)
                                {
                                    <button type="submit" class="btn btn-primary form-control my-1">Ship Order</button>
                                }
                                if (Model.OrderHeader.OrderStatus != SD.STATUS_REFUNDED &&
                                Model.OrderHeader.OrderStatus != SD.STATUS_CANCELLED &&
                                Model.OrderHeader.OrderStatus != SD.STATUS_SHIPPED)
                                {
                                    <button type="submit" class="btn btn-danger form-control my-1">Cancel Order</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>