@model SetListSong

<form method="post">
    <input asp-for="SongId" hidden />
    <input asp-for="Order" hidden />
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Song.Title</h3>
                    <h5 class="text-white-50 fw-semibold mb-0">@Model.Song.Artist</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-1">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-0">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        @if (Model.Song.SongImages != null && Model.Song.SongImages.Count() > 0)
                        {
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    @foreach (var imageWithIndex in Model.Song.SongImages.
                                   Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        string classValue = imageWithIndex.Index == 0 ? "active" : "";
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index"
                                                class="@classValue" aria-current="true" aria-label="Slide @imageWithIndex.Index"></button>
                                    }
                                </div>
                                <div class="carousel-inner">
                                    @foreach (var imageWithIndex in Model.Song.SongImages.
                                    Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        string classValue = imageWithIndex.Index == 0 ? "carousel-item active" : "carousel-item";
                                        <div class="@classValue">
                                            <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        }
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1 mt-5">
                        <div class="col-12 col-md-6 pb-4">
                            <h5>
                                <span class="badge">@Model.Song.Genre.Name</span>
                            </h5>  
                        </div>
                        <div class="row ps-1">
                            <h6 class="text-dark text-opacity-75 "><b>Release year:</b> @Model.Song.ReleaseYear</h6>
                        </div>
                        <div class="row ps-1">
                            <h6 class="text-dark text-opacity-75 "><b>Cover length:</b> @Model.Song.Length.ToString("%m' min '%s' sec'")</h6>
                        </div>
                        <div class="row ps-1 mb-4">
                            <h6 class="text-dark text-opacity-75 "><b>Language:</b> @Model.Song.Language.Name</h6>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn btn-primary bg-gradient py-2 text-uppercase fw-semibold">
                                    Add to SetList
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
