@model SetListVM

<form method="post">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white py-2">Set List</h3>
                </div>
            </div>
        </div>
        <div class="card-body my-4">
            <div class="row mb-3 pb-3">
                <div class="col-md-2 offset-md-1">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-4 btn-sm"><small>Continue Adding Songs</small></a>
                </div>
                <div class="col-md-10 offset-md-1 border-bottom">
                    @foreach(var song in Model.SongList.OrderBy(u => u.Order))
                    {
                        <div class="row pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="~/@song.Song.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>@song.Song.Title</strong></h5>
                                <h5 class="text-secondary opacity-75"><small>@song.Song.Artist</small></h5>
                            </div>
                            <div class="col-12 col-lg-5 text-center row pt-md-3">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">@song.Order</h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="bi bi-arrow-up-square"></i>
                                        </a> &nbsp;
                                        <a class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="bi bi-arrow-down-square"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a href="#" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-10 offset-md-1 border-bottom">
                    @{
                        int songCount = Model.SongList.Count();
                    }
                    @foreach (var service in Model.ServiceList.OrderBy(u => u.Id))
                    {
                        double price = service.Service.PriceFixed + service.PriceVariable;
                        
                        <div class="row pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="" class="rounded" width="100%" />
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>@service.Service.Name</strong></h5>
                                <p class="text-secondary opacity-75"><small>@Html.Raw(service.Service.Description)</small></p>
                            </div>
                            <div class="col-12 col-lg-5 text-center row pt-md-3">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">@price €</h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <h6>@service.Service.PriceFixed €</h6>
                                    <h6>@service.Service.PricePerSong € x @songCount = @service.PriceVariable €</h6>

                                    

                                </div>
                                <div class="col-9 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a href="#" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer bg-white border-0">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <ul class="list-group mb-4">
                            <li class="d-flex justify-content-between align-items-center">
                                <h5 class="text-dark fw-semibold text-uppercase"> Total</h5>
                                <h4 class="text-dark fw-bolder">@Model.OrderTotal €</h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        <a href="#" class="btn btn-primary border-0 bg-gradient w-100 py-2">Summary</a>
                    </div>
                </div>
            </div>
        </div>
</form>
